/* header and user input */

body {
background: #ecf4fb82;
}

.game_head {
position: relative;
top: 20px;
width: 85%;
border-radius: 5px;
background-color: #f2f2f2;
text-align: center;
margin: auto;
font-weight: bold;
}

.game_head h1 {
font-size: xx-large;
text-align: center;
padding: 20px;
}

.game_head p {
text-align: center;
font-size: large;
padding: 20px;
color: #377b3a;
}

input[type=text]{
padding: 12px 20px;
margin: 8px auto;
display: block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input::placeholder{
text-align: center;
color: #377b3a;
}

input[type=submit]:hover {
background-color: #45a049;
}

#button_reset {
background-color: #87261f;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

/* game board table */

#game {
position: relative;
top: 20px;
width: 85%;
border-radius: 5px;
background-color: #f2f2f2;
text-align: center;
margin: auto;
font-weight: bold;
}

#board {
margin: auto;
}

#board td {
width: 50px;
height: 50px;
border: solid 1px #666;
}

.piece {
margin: 5px;
width: 80%;
height: 80%;
background-color: blue;
border-radius: 50%;
position: relative;
}

[class="piece 1" ] {
background-color: blue;
}


[class="piece 2" ] {
background-color: red;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
border: dashed 1px lightgray;
}

#column-top td:hover {
background-color: gold;
}